* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #101010;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #FBEAEB;
    background: linear-gradient(#360033,#0b8793);
    backdrop-filter: blur(10px);
    position: relative;
}

#form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 40%;
    background-color:  rgb(255, 255, 255);
    padding: 0px 20px;
    overflow: hidden;
    /* overflow-y: scroll; */
}

#form-step-recorder { 
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding: 10px 30px;
    /* display: none; */
}

#persInfo {
    border-bottom: 2.5px solid #020202;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px;
    line-height: 1.3;
    letter-spacing: 0.1px;
    background: linear-gradient(to right, rgb(65, 65, 172), rgb(214, 162, 162), rgb(186, 192, 101));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

form {
    height: 100%;
    width: 100%;
    font-size: 25px;
}
    

#form-first-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    /* display: none; */
}

input, select {
    width: 100%;
    height: 60px;
    padding: 15px 10px;
    margin: 10px 0px;
    border: 1px solid gray;
    outline-color: #9de4eb;
    background-color: inherit;
    font-size: 18px;
    color: #363636;
}

::placeholder {
    font-size: 18px;
    color: #363636;
}


#buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
}

.nextButtonFormFirst, .nextButtonFormSecond, .nextButtonFormThird {
    width: 150px;
    padding: 16px 25px;
    font-size: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.nextButtonFormFirst:hover, .nextButtonFormSecond:hover, .nextButtonFormThird:hover {
    background-color: #fff;
    color: #000;
    border: 0.5px solid black;
    transition-duration: 500ms;
}

.prevButtonFormSecond, .prevButtonFormThird, .prevButtonFormFourth {
    width: 150px;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    text-align: center;
    border: 0.5px solid black;
}

.prevButtonFormSecond:hover, .prevButtonFormThird:hover, .prevButtonFormFourth:hover {
    background-color: #000;
    color: #fff;
    
    transition-duration: 500ms;
}

.submitButton {
    width: 150px;
    padding: 15.5px 25px;
    font-size: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.submitButton:hover{
    background-color: #fff;
    color: #000;
    border: 0.5px solid black;
    transition-duration: 500ms;
}



#form-second-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    display: none;
}

#form-second-buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

#form-third-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 30px;
    display: none;
}

#note {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 10px;
    padding: 5px 20px;
}

#note h4 {
    color: #e08181;
}

#form-third-buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}

.inputGroup {
    width: 100%;
    position: relative;
}

.inputGroup span {
    position: absolute;
    right: 20px;
    bottom: 30px;
    font-size: 16px;
    font-weight: 200;
    color: #e08181;
}

img {
    width: 20px;
    height: 20px;
}

#confirmationPage {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 50px;
    display: none;
    /* background-color: #000; */
    width: 100%;
}

.outputGroup {
    width: 100%;
    display: flex;
    align-items: center;
    gap:20px;
}

.outputGroup label{
    font-size: 28px;
    padding: 5px 0px;
}

.outputGroup span {
    font-size: 25px;
    font-weight: 400;
    line-height: 0.1;
    color: #161616;
    text-decoration: underline;
    text-decoration-color: rgb(172, 165, 165);
}

#form-fourth-buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}


button:disabled {
    cursor: not-allowed;
} 